*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}
a{
  color: #7E1518;
}
a:hover{
  color: #550000;
}
form {
  width: 320px;
  margin: 45px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #7E1518;
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
form hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #7E1518;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #7E1518;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #7E1518;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #7E1518;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #c3c3c3;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}
.btn-box div{
  height: auto;
  margin-top: 10px;
}
.btn-box a{
  float: left;
}
.search-section{
  margin-left: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #B3B3B3;
  padding: 10px;
}

#form-search-homes{
  margin: 10px;
  width: 400px;
}
.search-wrap{
  position: relative;
}
.search-wrap .input-field{
  width: 100%;
}
.search-button {
  position: absolute;
  top: 50%;
  right: 1px;
  overflow: hidden;
  width: 50px;
  height: 40px;
  line-height: 38px;
  margin-top: -20px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  z-index: 2;
  background: transparent;
  color: #0c0c17;
}
.filter-ops li{
  display: inline-block;
}
.orderby{
  margin-bottom: 20px;
  width: 150px;
}
.form-control:focus{
  border-color: #7E1518;
  outline: none;
}
#btn-book-viewing{
  float: right;
}
.home-image{
  margin-bottom: 10px;
}
.home-image .container{
  width: 100%;
  margin-top: 10px;
}
.home-item{
  padding: 10px;
}
.customer .home-list .home-item:hover{
  background-color: #E7E7E7;
}

.home-details{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #B3B3B3;
}
/****************************************/
/**************Customer******************/
/****************************************/
.customer .bar:before {
  background: #7E1518;
}
.customer form h1 {
  color: #7E1518;
}
.customer form h5 {
  color: #7E1518;
}
.customer input,
.customer textarea {
  color: #7E1518;
}
.customer input:focus ~ label, .customer input:valid ~ label,
.customer textarea:focus ~ label,
.customer textarea:valid ~ label {
  color: #7E1518;
}
.customer label {
  color: #7E1518;
}

.customer .btn.btn-submit {
  background: #7E1518;
}
.customer .btn.btn-submit:hover {
  background: #550000;
  color: white;
}

/*Nav bar*/
.customer .navbar{
  background-color: #801515;
  border-color: #801515;
  border-radius: 0px;
}
.customer .navbar-inverse .navbar-nav>.active>a, 
.customer .navbar-inverse .navbar-nav>.active>a:focus, 
.customer .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #550000 !important;
}
.navbar-nav>li>a:hover{
  background-color: #AA3939;
}

/*Home Page*/
.customer #accordion .panel-heading:hover{
  background-color: #801515;
  color: white;
}
.customer #accordion .panel-heading .badge{
  float: right;
}

/*Home List*/
.home-item{
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #b3b3b3;
  overflow: auto;
}
.home-item .home-image{
  padding: 0;
}
.home-item .home-image img{
  width: 100%;
}
.home-item .home-details{
  height: 100%;
  position: relative;
}
.home-item .home-metadata{
  bottom: 0;
  position: relative;
}
.home-metadata span{
  border-right: 1px solid #B3B3B3;
  padding: 5px 10px;
  background-color: #D2D2D2;
}

/*Account Page*/
.basic-data{
  border: 1px solid #B3B3B3;
  overflow: auto;
}
.dataItem{
  margin-bottom: 10px;
  padding-left: 30px;
}
.dataItem button{
  float: right;
  margin-left: 
}

/****************************************/
/***************Broker*******************/
/****************************************/
.broker .bar:before {
  background: #035F79;
}
.broker form h1 {
  color: #024255;
}
.broker form h5 {
  color: #024255;
}
.broker input,
.broker textarea {
  color: #024255;
}
.broker input:focus ~ label, .broker input:valid ~ label,
.broker textarea:focus ~ label,
.broker textarea:valid ~ label {
  color: #024255;
}
.broker label {
  color: #024255;
}

.broker .btn.btn-submit {
  background: #035F79;
}
.broker .btn.btn-submit:hover {
  background: #024255;
}

/*Nav bar*/
.broker .navbar{
  background-color: #0F87AB;
  border-color: #0F87AB;
  border-radius: 0px;
}
.broker .navbar-inverse .navbar-nav>.active>a, 
.broker .navbar-inverse .navbar-nav>.active>a:focus, 
.broker .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #035F79 !important;
}

/*Home Page*/
.broker #accordion .panel-heading:hover{
  background-color: #0F87AB;
}
.broker #accordion .panel-heading .badge{
  float: right;
}
/*Account Page*/
/****************************************/
/**************Manager*******************/
/****************************************/
.manager .bar:before {
  background: #024255;
}
.manager form h1 {
  color: #024255;
}
.manager form h5 {
  color: #024255;
}
.manager input,
.manager textarea {
  color: #024255;
}
.manager input:focus ~ label, .manager input:valid ~ label,
.manager textarea:focus ~ label,
.manager textarea:valid ~ label {
  color: #024255;
}
.manager label {
  color: #024255;
}

.manager .btn.btn-submit {
  background: #035F79;
}
.manager .btn.btn-submit:hover {
  background: #024255;
}